.w3-container {
    margin:0 0;
    padding: 0 0;
}
.w3-container button,span {
    display: inline-block;
    vertical-align: sub;
}

.w3-container span h3{
    padding-left: 100px;
    color:white;
}

#profile-small {
    text-align: center;
    background-color: darkcyan;
    height:96px;
    padding: 8px 0 8px 0;
}

#profile-small img {
    height: 50px;
    width: 50px;
    border: white solid 1px;
}

#profile-small p {
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#timerSection {
    text-align: center;
    height:112px;
    padding: 8px auto;
}

#timer {
    margin-block-end: 0;
    font-size: 36px;
}

.exeButton {
    background-color: #03baa9;
    color: black;
}

#buttonSection {
    text-align: center;
}

.w3-sidebar a{
    text-decoration: none;
}

#countdownOverlay {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.notification {
    vertical-align: middle;
    background: white;
    color: black;
    width: 295px;
    height: 196px;
    border-radius: 30px;
    text-align: center;
}

#notiBody {
    font-family: 'Roboto', sans-serif;
    padding: 48px 0 56px 0;
}

#notiBody p{
    margin-block-end: 0;
    margin-bottom: 0;
    font-size:28px;
}

#notiDecisions p {
    display:inline;
    color: rgba(66, 152, 223, 0.938);
}

#leftDec {
    border-top: 1px grey solid;
    border-right: 1px grey solid;
    float: left;
    padding:13.5px 56px 13.5px 56px;
    margin-block-end: 0;
}

#rightDec {
    float: left;
    padding:13.5px 66px 13.5px 58px;
    margin-block-end: 0;
    border-top: 1px grey solid;
}

#successOverlay {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#succBody {
    font-family: 'Roboto', sans-serif;
    padding: 33px 0 33px 0;
}

#succBody p{
    margin-block-end: 0;
    margin-bottom: 0;
    font-size:28px;
}

.singleDec {
    border-top: 1px grey solid;
    color: rgba(66, 152, 223, 0.938);
    padding: 10px;
    margin-bottom: 0;
}

#failOverlay {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#failBody {
    font-family: 'Roboto', sans-serif;
    padding: 33px 0 33px 0;
}

#failBody p{
    margin-block-end: 0;
    margin-bottom: 0;
    font-size:28px;
}

#startExeOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#startExeBody {
    font-family: 'Roboto', sans-serif;
    padding: 56px 0 56px 0;
}

#startExeBody p{
    margin-block-end: 0;
    margin-bottom: 0;
    font-size:28px;
}
