.body {
    background: rgb(96, 187, 141);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Starter page CSS */
.startDiv {
    /*background: white;*/
    height: 280px;
    /*border: solid 0.5px rgb(80, 79, 79);*/
    /*color: rgb(79, 126, 29);*/
    color:white;
    padding: 8px 8px;
}

#loginHeader {
    text-align: center;
    margin: 100px auto;

}

#loginHeader h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.startDiv label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.input {
    border: 0;
    border-bottom: solid white 1px;
    background-color: transparent;
    width: 290px;
    border-radius: 0;
}

#loginContainer {
    padding-top: 20px;
}

.loginButton {
    background-color: rgb(79, 126, 29);
    font-family: 'Roboto', sans-serif;
    /*border-radius: 10px;*/
    border: 2px solid black;
    color: white;
    font-size:32px;
}

.signUpButton {
    background-color: rgb(79, 126, 29);
    font-family: 'Roboto', sans-serif;
    /*border-radius: 10px;*/
    border: 2px solid black;
    color: white;
    font-size:32px;
}


/* Leaderboard CSS*/

.header {
    padding-top: 20px;
    text-align: center;
}

/*#text-area {
    margin-top: 10px;
}*/

#leaderboard {
    padding-left: 60px;
    color:white;
    font-family: 'Roboto', sans-serif;
}

#leaderboard-div {
    padding-top: 0px;
    height: 900px;
}

#title {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: #FCCA46;
    margin-top: -5px;
}
#week {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: #FCCA46;
    margin-top: -15px;
    margin-bottom: -10px;
}

.user-card {
    height: 100%;
    color:white;
    padding: 8px 8px;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.col-2 ol li {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    /*color: #FCCA46;*/
   
}

.col-10 table tbody tr td {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    /*color: white;*/
}