.body {
    background: rgb(96, 187, 141);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Starter page CSS */
.startDiv {
    /*background: white;*/
    height: 280px;
    /*border: solid 0.5px rgb(80, 79, 79);*/
    /*color: rgb(79, 126, 29);*/
    color:white;
    padding: 8px 8px;
}

#loginHeader {
    text-align: center;
    margin: 100px auto;

}

#loginHeader h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.startDiv label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.input {
    border: 0;
    border-bottom: solid white 1px;
    background-color: transparent;
    width: 290px;
}

#loginContainer {
    padding-top: 20px;
}

.loginButton {
    background-color: rgb(79, 126, 29);
    font-family: 'Roboto', sans-serif;
    /*border-radius: 10px;*/
    border: 2px solid black;
    color: white;
    font-size:32px;
}

.signUpButton {
    background-color: rgb(79, 126, 29);
    font-family: 'Roboto', sans-serif;
    /*border-radius: 10px;*/
    border: 2px solid black;
    color: white;
    font-size:32px;
}


/* Leaderboard CSS*/

.header {
    padding-top: 20px;
    text-align: center;
}
