#temp {
    background: hsla(0,0%,100%,.25) border-box; 
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
                0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
    width: 320px;
    margin:96px auto 96px auto;
    text-align: center;
}
#timeSet {
    font-size: 36px;
    padding:8px auto 8px auto;
    margin:0 64px 0 64px;
    display: flex; 
    
}

#timeSet::before{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

#timeSet p{
    display: inline;
    font-size: 28px;
    padding:2px;
}

#timeSet i{
    padding-left:30px;
    padding-right:30px;
    margin-block-end: 0;
}
.saveButton {
    width: 112px;
    background-color: #03baa9;
    color:white;
    margin-left: 8px;
}

.resetButton {
    width: 112px;
    background-color: #ef3234;
    color:white;
    margin-right: 8px;
}

.timeButton {
/*<<<<<<< HEAD
    padding-block-start: 50px;
=======*/
    padding: 48px 0 8px 0;/*
>>>>>>> 15a2805e47b30b6e321dc013dcbcee7e9e7b5639*/
    text-align: center;
}

.changeTimeSection{
    display: inline-block;
}

#timeSetOverlay {
    position: fixed;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#timeSetBody {
    font-family: 'Roboto', sans-serif;
    padding: 56px 0 56px 0;
}

#timeSetBody p{
    margin-block-end: 0;
    margin-bottom: 0;
    font-size:28px;
}

#timeSetDecisions p {
    display:inline;
    color: rgba(66, 152, 223, 0.938);
}

#noDec {
    border-top: 1px grey solid;
    border-right: 1px grey solid;
    float: left;
    padding:13.5px 65px 13.5px 65px;
    margin-block-end: 0;
}

#yesDec {
    float: left;
    padding:13.5px 60px 13.5px 60px;
    margin-block-end: 0;
    border-top: 1px grey solid;
}
